.App {
  margin: 0;
  height: 100%;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
/* Theme background and text colors */

.light-background {
  background: rgb(223, 236, 225);
  background: linear-gradient(
    0deg,
    rgba(223, 236, 225, 1) 0%,
    rgba(221, 237, 237, 1) 51%,
    rgba(217, 216, 233, 1) 100%
  );
  transition: all 1s ease-in-out;
}

.dark-background {
  background: rgb(37, 17, 61);
  background: linear-gradient(
    171deg,
    rgba(37, 17, 61, 1) 0%,
    rgba(14, 34, 62, 1) 50%,
    rgba(7, 45, 46, 1) 100%
  );
  transition: all 1s ease-in-out;
}

.light-text,
.light-accent,
.dark-contrast {
  color: rgb(54, 58, 73);
}

.dark-text,
.dark-accent,
.light-contrast {
  color: rgb(208, 229, 254);
}

.light-accent-text {
  color: #25226f;
}

.dark-accent-text {
  color: #6ae5e2;
}

.light-nav-text {
  color: rgb(208, 229, 254);
}

.dark-nav-text {
  color: #6ae5e2;
}
.light-accent {
  background-color: #25226f;
  color: rgb(208, 229, 254);
}

.dark-accent {
  background-color: #6ae5e2;
  color: rgb(25, 30, 48);
}

.light-icon {
  filter: brightness(0) saturate(100%) invert(9%) sepia(57%) saturate(4857%)
    hue-rotate(241deg) brightness(93%) contrast(92%);
}

.dark-icon {
  filter: brightness(0) saturate(100%) invert(89%) sepia(100%) saturate(562%)
    hue-rotate(147deg) brightness(95%) contrast(89%);
}

.light-el-bg {
  background-color: #5b97b638;
}

.dark-el-bg {
  background-color: rgba(168, 196, 247, 0.142);
}

.lighter-el-bg {
  background-color: #3c3b44;
}

.darker-el-bg {
  background-color: #15142e;
}

.light-el-accent {
  background-color: #131d4687;
}

.dark-el-accent {
  background-color: #aff1facb;
}

.light-box-shadow {
  -webkit-box-shadow: 0px 0px 4px 1px rgb(125 136 145 / 25%);
  -moz-box-shadow: 0px 0px 4px 1px rgb(125 136 145 / 25%);
  box-shadow: 0px 0px 4px 1px rgb(125 136 145 / 25%);
}

.dark-box-shadow {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(46, 73, 95, 0.25);
  -moz-box-shadow: 0px 0px 4px 1px rgba(46, 73, 95, 0.25);
  box-shadow: 0px 0px 4px 1px rgba(46, 73, 95, 0.25);
}

/* Header styles */

.intro,
.section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: space-evenly;
  align-items: flex-start;
  -webkit-box-align: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 2rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.header {
  justify-content: center;
}


.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 4rem;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* TODO */
nav {
  display: flex;
  width: 18rem;
  width: clamp(18rem, 7.1891891891891895rem + 54.054054054054056vw, 38rem);
  align-items: center;
  justify-content: space-around;
  height: 4rem;
}

/* Text styles */

.title {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.5rem + 5vw, 4rem);
}

.subtitle {
  font-family: "Bitter", serif;
  font-size: 1.4rem;
  font-size: clamp(
    1.4rem,
    0.8054054054054052rem + 2.9729729729729737vw,
    2.5rem
  );
  align-self: flex-start;
}

.element-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-size: clamp(
    1.2rem,
    0.9297297297297297rem + 1.3513513513513513vw,
    1.7rem
  );
}

.project-title {
  font-size: 1.2rem;
  font-size: clamp(
    1.2rem,
    0.9297297297297297rem + 1.3513513513513513vw,
    1.7rem
  );
  margin-top: 0.2rem;
}

.element-body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8648648648648649rem + 0.6756756756756757vw, 1.25rem);
}

.sibling-text {
  padding: 1rem;
}

.accent-text {
  font-family: "Bitter", serif;
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.6297297297297297rem + 1.351351351351351vw, 1.4rem);
}

.credit {
  font-family: "Bitter", serif;
  font-weight: 200;
}

/* Accent styles */

.border {
  height: 0.13rem;
  width: clamp(19rem, 3.3243243243243246rem + 78.37837837837837vw, 48rem);
  border-radius: 5px;
}

.border-bottom {
  margin-top: 1.5rem;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8378378378378378rem + 0.8108108108108111vw, 1.3rem);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
  margin-top: 1rem;
  width: fit-content;
}

a {
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.5756756756756757rem + 1.6216216216216217vw, 1.5rem);
}


/* div.border {
  align-self: left;
} */

.icon {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.0675675675675675rem + 2.162162162162162vw, 2.3rem);
}
/* content styles */

.description-box {
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0rem;
}

.element {
  border-radius: 0.4rem;
  display: flex;
  align-self: center;
  flex-direction: column;
}
/* about styles */
.profile-pic {
  height: clamp(15rem, 12.297297297297298rem + 13.513513513513514vw, 20rem);
  object-fit: contain;
  border-radius: 0.5rem;
}

.info-box {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: nowrap;
  padding: 1rem;
  /* width: 18rem; */
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
}

.link-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 18rem;
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
  padding: 1rem;
}

.contact-box {
  display: flex;
  align-items: flex-start;
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
  margin-top: 2rem;
  justify-content: center;
}

.list-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  flex-grow: 1;
  width: calc(100% / 3);
}

/* project styles */
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
  /* font-size: 18rem; */
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
}

.collection {
  margin-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  flex-grow: 1;
}

.project-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-img {
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
  aspect-ratio: auto;
  border-radius: 0.5rem;
  -webkit-flex: 1;
  flex: 1;
}

.project-description-box {
  /* width: 18rem; */
  width: clamp(18rem, 3.9459459459459456rem + 70.27027027027027vw, 44rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  position: static;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* theme toggle switch */

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: all 250ms ease-in;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: clamp(3rem, 2.4594594594594597rem + 2.7027027027027026vw, 4rem);
  height: clamp(1.5rem, 1.2297297297297298rem + 1.3513513513513513vw, 2rem);
  background: rgba(168, 197, 246, 0.595);
  border-radius: 2rem;
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  align-items: center;
}

.toggle-label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: clamp(1.2rem, 0.9837837837837837rem + 1.0810810810810816vw, 1.6rem);
  height: clamp(1.2rem, 0.9837837837837837rem + 1.0810810810810816vw, 1.6rem);
  border: 2px solid lightyellow;
  position: absolute;
  border-radius: 4rem;
  align-self: center;
  background: #fafafa;
  shape-rendering: crispEdges;
}
.toggle-checkbox:checked ~ .background {
  background: rgb(19, 19, 76);
}

.toggle-checkbox:checked + .toggle-label {
  background: rgb(42, 42, 65);
  border-color: rgb(22, 7, 65);
}

.toggle-checkbox:checked + .toggle-label:before {
  background: rgb(168, 195, 247);
  border-color: gray;
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.toggle-checkbox:checked + .toggle-label:after {
  transition-delay: 350ms;
  opacity: 1;
}

/* switch animations */
@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: clamp(1.6875rem, 1.383445945945946rem + 1.5202702702702704vw, 2.25rem);
  }
  100% {
    left: clamp(1.75rem, 1.614864864864865rem + 0.6756756756756757vw, 2rem);
    width: clamp(1.2rem, 0.9837837837837837rem + 1.0810810810810816vw, 1.6rem);
  }
}
@keyframes reverse {
  0% {
    left: clamp(1.6875rem, 1.383445945945946rem + 1.5202702702702704vw, 2.25rem);
    width: clamp(1.125rem, 0.9222972972972973rem + 1.0135135135135136vw, 1.5rem);
  }
  60% {
    left: clamp(1.125rem, 0.9222972972972973rem + 1.0135135135135136vw, 1.5rem);
    width: clamp(1.6875rem, 1.383445945945946rem + 1.5202702702702704vw, 2.25rem);
  }
  100% {
    left: 2px;
  }
}


@media screen and (max-width: 990px){
  .info-box {
    flex-direction: column;
  }
  
  .border {
    width: 100%;
  }
  
  .link-box {
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 2);
  }
  
  .section {
    margin-bottom: 7rem;
    padding-top: 4rem;
    width: 85vw;
  }
}
@media screen and (max-width: 840px) {
  .project-items {
    justify-content: space-evenly;
  }
  .project-description-box {
    width: 80vw;
  }
}
@media screen and (max-width: 400px){
  .section {
    margin-bottom: 5rem;
    padding-top: 2rem;
    width: 95vw;
  }
}

