

.App {
  margin: 0;
  height: 100%;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
/* Theme background and text colors */

.light-background {
  background: rgb(196,255,253);
  background: linear-gradient(133deg, rgba(196,255,253,1) 0%, rgba(216,252,209,1) 50%, rgba(208,217,254,1) 100%);
  transition: all 1s ease-in-out;
}

.dark-background {
  background: rgb(37,17,61);
  background: linear-gradient(171deg, rgba(37,17,61,1) 0%, rgba(14,34,62,1) 50%, rgba(7,45,46,1) 100%);
  transition: all 1s ease-in-out;
}

.light-text, .light-accent, .dark-contrast {
  color:rgb(32, 32, 54);
}

.dark-text, .dark-accent, .light-contrast {
  color: #d0e5fe;
}

.light-accent {
  background-color:rgb(32, 32, 54);
}

.dark-accent {
  background-color:#d0e5fe;
}

.light-el-bg {
  background-color: #5b97b638;
}

.dark-el-bg {
  background-color:rgba(168, 196, 247, 0.142);
}

.lighter-el-bg {
  background-color:#3c3b441a;
}

.darker-el-bg {
  background-color:#050e1799;
}

.light-el-accent {
  background-color: #131d4687;
}

.dark-el-accent {
  background-color: #aff1facb;
}

.light-button {
  background: rgb(25, 25, 45);
}

.dark-button {
  background: #d0e5fe;
}


.light-box-shadow {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(125,136,145,0.76);
  -moz-box-shadow: 0px 0px 7px 1px rgba(125,136,145,0.76);
  box-shadow: 0px 0px 7px 1px rgba(125,136,145,0.76);
}

.dark-box-shadow {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(199,230,255,0.56);
  -moz-box-shadow: 0px 0px 7px 1px rgba(199,230,255,0.56);
  box-shadow: 0px 0px 7px 1px rgba(199,230,255,0.56);     
}


/* Header styles */

header {
    width: 100%;
    height: 25vh;
    top: 0;
    position: relative;
    font-family: 'Marcellus', serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

/* Text styles */

.title {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.5rem + 5vw, 4rem);
  padding: 1rem;
}

.subtitle {
  font-family: 'Marcellus', serif;
  font-size: 1.4rem;
  font-size: clamp(1.4rem, 0.8054054054054052rem + 2.9729729729729737vw, 2.5rem);
}

.element-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  padding: .25rem 4rem .25rem 4rem;
  border-radius: .25rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 0.9297297297297297rem + 1.3513513513513513vw, 1.7rem);
  text-align: center;
  width: 100%;
}

.project-title {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 0.9297297297297297rem + 1.3513513513513513vw, 1.7rem);
  margin-top: .2rem;
}

.element-body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
}

/* Accent styles */

.top-border {
  height: .13rem;
  width: clamp(18rem, 7.199999999999999rem + 54vw, 45rem);
  position: absolute;
  top: 0;
  border-radius: 5px;
}

.bottom-border {
  height: .13rem;
  width: clamp(18rem, 7.199999999999999rem + 54vw, 45rem);
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

button {
  font-family: 'noto sans', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: .4rem;
  margin: 1rem 0rem;
}

a {
  font-family: 'noto sans', sans-serif;
  font-weight: 600;
}

/* content styles */

.description-box {
  width: clamp(16rem, 5.199999999999999rem + 54vw, 43rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element {
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slide-display {
  min-width: 80vw;
  max-width: 1200px;
  height: 46vh;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  flex-grow: 1;
}

.project-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.project-img {
  max-height: 40vh;
  aspect-ratio: auto;
  border-radius: .5rem;
  -webkit-flex: 1;
  flex: 1;
}

.project-description-box {
  width: 27rem;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-flex: 1;
  flex: 1;
  height: 40vh;
  
}

/* theme toggle switch */
.theme-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: all 250ms ease-in;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 4rem;
  height: 2rem;
  background: rgba(168, 197, 246, 0.595);
  border-radius: 2rem;
  border: 2px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  align-items: center;
}

.toggle-label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid lightyellow;
  position: absolute;
  border-radius: 4rem;
  align-self: center;
  background: #fafafa;
  shape-rendering: crispEdges;
}
.toggle-checkbox:checked ~ .background {
  background: rgb(19, 19, 76);
}

.toggle-checkbox:checked + .toggle-label {
  background: rgb(42, 42, 65);
  border-color: rgb(22, 7, 65);
}

.toggle-checkbox:checked + .toggle-label:before {
  background: rgb(168, 195, 247);
  border-color: gray;
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.toggle-checkbox:checked + .toggle-label:after {
  transition-delay: 350ms;
  opacity: 1;
}

/* switch animations */
@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 2.25rem;
  }
  100% {
    left: 2rem;
    width: 1.6rem;
  }
}
@keyframes reverse {
  0% {
    left: 2.25rem;
    width: 1.5rem;
  }
  60% {
    left: 1.5rem;
    width: 2.25rem;
  }
  100% {
    left: 2px;
  }
}